
/*
============== IRANYekanX ==============
*/
@font-face {
  font-family: IRANYekanX;
  src:
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-Thin.woff") format('woff'),
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-Thin.woff2") format('woff2');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: IRANYekanX;
  src:
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-UltraLight.woff") format('woff'),
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-UltraLight.woff2") format('woff2');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: IRANYekanX;
  src:
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-Light.woff") format('woff'),
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-Light.woff2") format('woff2');
  font-style: normal;
  font-weight: 300;
}


@font-face {
  font-family: IRANYekanX;
  src:
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-Medium.woff") format('woff'),
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-Medium.woff2") format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: IRANYekanX;
  src:
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-DemiBold.woff") format('woff'),
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-DemiBold.woff2") format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: IRANYekanX;
  src:
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-DemiBold.woff") format('woff'),
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-DemiBold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: IRANYekanX;
  src:
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-ExtraBold.woff") format('woff'),
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-ExtraBold.woff2") format('woff2');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: IRANYekanX;
  src:
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-Black.woff") format('woff'),
    loadStaticFont("/IRANYekanX/IRANYekanXFaNum-Black.woff2") format('woff2');
  font-style: normal;
  font-weight: 900;
}

